html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* Spinge il footer in basso */
  padding: 20px;
  background-color: #f4f4f4;
}
